$color--white: #FEFEFE;
$color--mine-shaft: #222222;
$color--tuna: #3B3C40;
$color--alto: #D7D7D7;
$color--de-york: #92ce9f;
$color--jordy-blue: #87bcf3;
$color--kournikova: #fedc72;
$color--sweet-pink: #fd9797;
$color--aquamarine: #79e4e4;
$color--waterloo: #877F9D;
$color--amaranth: #E92F49;
$color--danube: #6680D4;